@page
@{ Layout = "_Layout"; }

<div style="height: 10px"></div>

<el-form size="small">
  <el-form-item label="数据库表">
    <el-select v-model="table" placeholder="数据库表">
      <el-option
        v-for="tableName in tableNames"
        :key="tableName"
        :label="tableName"
        :value="tableName">
      </el-option>
    </el-select>
  </el-form-item>
</el-form>

<template v-if="table && tableColumns">

  <el-divider></el-divider>

  <el-alert>
    表名：<el-link type="primary">{{ table }}</el-link>，
    数据量：<el-link type="primary">{{ count }}</el-link>
  </el-alert>

  <el-table
    :data="tableColumns"
    stripe
    style="width: 100%">
    <el-table-column
      prop="attributeName"
      label="字段名">
    </el-table-column>
    <el-table-column
      prop="dataType"
      label="数据类型"
      width="180">
    </el-table-column>
    <el-table-column
      label="数据长度"
      width="180">
      <template slot-scope="scope">
        {{ getColumnLength(scope.row) }}
      </template>
    </el-table-column>
    <el-table-column
      label="属性"
      width="180">
      <template slot-scope="scope">
        {{ getColumnAttributes(scope.row) }}
      </template>
    </el-table-column>
  </el-table>

</template>

@section Scripts{
  <script src="/assets/database/js/tables.js" type="text/javascript"></script>
}